.section-hero {
  display: flex;
  position: relative;
  background-color: $light-pink-text-color;

  .container {
    display: flex;
    justify-content: space-between;

    &.hero-background-images {
      background-image: url(../images/hero-img-icecreame-mobile.png),
        url(../images/hero-ellipse-mobile.png);
      background-repeat: no-repeat;
      background-position: right 32px bottom 0, right 0 bottom 75px;
    }
  }

  @media screen and (max-width: 767px) {
    .container {
      width: 100%;
    }
  }

  @media screen and (min-width: 768px) {
    .container {
      display: flex;

      &.hero-background-images {
        background-image: url(../images/hero-img-milk-tablet.png),
          url(../images/hero-img-icecreame-tablet.png),
          url(../images/hero-img-girl-desctop.png),
          url(../images/hero-ellipse-tablet.png);
        background-position: left 15px bottom 28px, right 230px bottom 0,
          right 15px bottom 0, right 115px bottom 60px;

        @media screen and (min-width: 1200px) {
          background-image: url(../images/hero-img-milk-desctop.png),
            url(../images/hero-img-icecreame-desctop.png),
            url(../images/hero-img-girl-desctop.png),
            url(../images/hero-ellipse-desctop.png);
          background-position: left 0px bottom 30px, right 280px bottom 0,
            right 15px bottom 0, right 85px bottom 40px;
        }
      }
    }
  }
}

.section-hero-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  @media screen and (max-width: 767px) {
    margin-bottom: 160px;
  }
}

.hero-title {
  color: $base-white-color;
  font-family: Titan One;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.154;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  margin-top: 191px;
  margin-bottom: 19px;

  display: flex;
  flex-direction: column;

  > span {
    color: $dark-pink-text-color;
    font-size: 48px;
    line-height: 0.956;
  }

  @media screen and (min-width: 768px) {
    font-size: 38px;
    > span {
      font-size: 58px;
    }
  }

  @media screen and (min-width: 1200px) {
    font-size: 42px;
    > span {
      font-size: 60px;
    }
  }
}

.hero-button-list {
  display: flex;
  justify-content: flex-start;
}

.hero-button-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: transparent;
  font-family: inherit;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  letter-spacing: 0.06em;
  background-color: $base-white-color;
  text-decoration: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  text-align: center;
  padding: 6px 10px;
  width: 83px;
  height: 24px;
  transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);

  .link {
    color: $dark-pink-text-color;
  }

  &:hover {
    background-color: $dark-pink-text-color;

    .link {
      color: $base-white-color;
    }
  }

  &:focus {
    outline: none;
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.286;
    align-items: center;
    text-align: center;

    color: $base-white-color;

    margin-right: 15px;
    padding: 12px 10px;
    width: 130px;
    height: 40px;
  }
}

.hero-button-list-item:not(:last-child) {
  @media screen and (max-width: 1199px) {
    margin-right: 8px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 15px;
  }
}

.hero-information {
  display: flex;
  align-self: flex-end;
  flex-direction: column;
  margin: 66px 10px 28px 0;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    margin: 112px 10px 30px 0;
  }
}

.hero-information-text {
  width: 120px;
  font-family: DM Sans;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.5;
  color: $base-white-color;
  margin-bottom: 7px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 10px;
  }
}

.hero-information-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: $base-white-color;
  transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: $dark-pink-text-color;
  }

  @media screen and (min-width: 1200px) {
    width: 25px;
    height: 25px;
  }
}

.hero-information-link-svg {
  fill: $dark-pink-text-color;
  transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-information-link:hover .hero-information-link-svg {
  fill: $base-white-color;
}

.hero-numbers {
  @media screen and (max-width: 767px) {
    display: none;
  }

  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 768px) {
    margin-bottom: 50px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 150px;
  }
}

.hero-numbers-list-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.hero-numbers-list-item-title {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;

  color: $base-white-color;

  position: relative;

  > span.number-16 {
    display: flex;
    font-family: Titan One;
    font-weight: 400;
    font-size: 38px;
    line-height: 1.143;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $dark-pink-text-color;
    position: relative;
    z-index: 1;

    &::before {
      content: '';
      width: 16px;
      height: 16px;
      border-radius: 100%;
      background: $base-white-color;

      position: relative;
      top: -2px;
      left: 45px;
      z-index: -1;
    }
  }

  > span.number-23 {
    display: flex;
    font-family: Titan One;
    font-weight: 400;
    font-size: 38px;
    line-height: 1.143;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $dark-pink-text-color;
    position: relative;
    z-index: 1;

    &::before {
      content: '';
      width: 16px;
      height: 16px;
      border-radius: 100%;
      background: $base-white-color;

      position: relative;
      top: -2px;
      left: 50px;
      z-index: -1;
    }
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.286;

    > span.number-16 {
      font-size: 46px;
      line-height: 1.152;
      position: relative;

      &::before {
        content: '';
        width: 30px;
        height: 30px;
        border-radius: 100%;
        background: $base-white-color;

        position: relative;
        top: -4px;
        left: 55px;
      }
    }

    > span.number-23 {
      font-size: 46px;
      line-height: 1.152;
      position: relative;

      &::before {
        content: '';
        width: 30px;
        height: 30px;
        border-radius: 100%;
        background: $base-white-color;

        position: relative;
        top: -4px;
        left: 60px;
      }
    }
  }
}

.hero-numbers-list-item:not(:last-child) {
  margin-bottom: 13px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 15px;
  }
}
